<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="file" fileName="logs\${shortdate}.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}" />
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}" />
		<target xsi:type="Database" name="database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
			<connectionString>${var:connectionString}</connectionString>
			<commandText>INSERT INTO MsgLog ([Time],[Direction],[Address],[Command],[Details],[Token]) VALUES (@Time,@Direction,@Address,@Command,@Details,@Token);</commandText>
			<parameter name="@Time" layout="${date}" />
			<parameter name="@Direction" layout="${event-properties:direction}" />
			<parameter name="@Address" layout="${event-properties:address}" />
			<parameter name="@Command" layout="${event-properties:command}" />
			<parameter name="@Details" layout="${event-properties:details}" />
			<parameter name="@Token" layout="${event-properties:token}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="SYSTEM" minlevel="Trace" writeTo="file,console" />
		<logger name="COMMUNICATION" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>